ELASTIC_HOST=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=

ELASTIC_POSTCODES_INDEX=postcodes
ELASTIC_LAD_INDEX=local-authority-district-19

ELASTIC_BULK_BATCH_SIZE=1000

NSPL_ZIPPED_DATA_URL=https://www.arcgis.com/sharing/rest/content/items/ad7fd1d95f06431aaaceecdce4985c7e/data
NSPL_DOWNLOAD_DESTINATION=./data-nspl
NSPL_POSTCODES_CSV=./data-nspl/Data/NSPL_NOV_2019_UK.csv
NSPL_CCGS_CSV="./data-nspl/Documents/CCG names and codes UK as at 04_19.csv"
NSPL_CTYS_CSV="./data-nspl/Documents/County names and codes UK as at 12_10.csv"
NSPL_EERS_CSV="./data-nspl/Documents/EER names and codes UK as at 12_10.csv"
NSPL_LAUAS_CSV="./data-nspl/Documents/LA_UA names and codes UK as at 12_19.csv"
NSPL_LSOAS_CSV="./data-nspl/Documents/LSOA (2011) names and codes UK as at 12_12.csv"
NSPL_MSOAS_CSV="./data-nspl/Documents/MSOA (2011) names and codes UK as at 12_12.csv"
NSPL_RUS_CSV="./data-nspl/Documents/Rural Urban (2011) Indicator names and codes GB as at 12_16.csv"
NSPL_WARDS_CSV="./data-nspl/Documents/Ward names and codes UK as at 12_19.csv"
NSPL_TTWAS_CSV="./data-nspl/Documents/TTWA names and codes UK as at 12_11 v5.csv"
NSPL_PCONS_CSV="./data-nspl/Documents/Westminster Parliamentary Constituency names and codes UK as at 12_14.csv"

LAD_BUC_GEOJSON="./data-lad/Local_Authority_Districts_December_2019_Boundaries_UK_BUC.geojson"