ELASTIC_HOST=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
ELASTIC_INDEX=postcodes
ELASTIC_BULK_BATCH_SIZE=1000

NSPL_ZIPPED_DATA_URL=https://www.arcgis.com/sharing/rest/content/items/ad7fd1d95f06431aaaceecdce4985c7e/data
NSPL_DOWNLOAD_DESTINATION=./download-data
NSPL_CSV=./download-data/Data/NSPL_NOV_2019_UK.csv
