ELASTIC_HOST=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=

ELASTIC_POSTCODES_INDEX=postcodes-2021-10-20
ELASTIC_LAD_INDEX=local-authority-district-2020-04-23

ELASTIC_BULK_BATCH_SIZE=1000

NSPL_ZIPPED_DATA_URL=https://www.arcgis.com/sharing/rest/content/items/aef0a4ef0dfb49749fe4f80724477687/data
NSPL_DOWNLOAD_DESTINATION=./downloads/nspl-2021-aug
NSPL_POSTCODES_CSV=./downloads/nspl-2021-aug/Data/NSPL_AUG_2021_UK.csv
NSPL_CCGS_CSV="./downloads/nspl-2021-aug/Documents/CCG names and codes UK as at 04_21.csv"
NSPL_CTYS_CSV="./downloads/nspl-2021-aug/Documents/County names and codes UK as at 04_21_NSPL.csv"
NSPL_EERS_CSV="./downloads/nspl-2021-aug/Documents/EER names and codes UK as at 12_10.csv"
NSPL_LAUAS_CSV="./downloads/nspl-2021-aug/Documents/LA_UA names and codes UK as at 04_21.csv"
NSPL_LSOAS_CSV="./downloads/nspl-2021-aug/Documents/LSOA (2011) names and codes UK as at 12_12.csv"
NSPL_MSOAS_CSV="./downloads/nspl-2021-aug/Documents/MSOA (2011) names and codes UK as at 12_12.csv"
NSPL_RUS_CSV="./downloads/nspl-2021-aug/Documents/Rural Urban (2011) Indicator names and codes GB as at 12_16.csv"
NSPL_TTWAS_CSV="./downloads/nspl-2021-aug/Documents/TTWA names and codes UK as at 12_11 v5.csv"
NSPL_WARDS_CSV="./downloads/nspl-2021-aug/Documents/Ward names and codes UK as at 05_21 NSPL.csv"
NSPL_PCONS_CSV="./downloads/nspl-2021-aug/Documents/Westminster Parliamentary Constituency names and codes UK as at 12_14.csv"

LAD_BUC_DATA_URL="https://opendata.arcgis.com/datasets/3a4fa2ce68f642e399b4de07643eeed3_0.geojson"
LAD_DOWNLOAD_DESTINATION="./data-lad"
LAD_BUC_GEOJSON="./data-lad/Local_Authority_Districts_December_2019_Boundaries_UK_BUC.geojson"