body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  margin: 0px;
  --mdc-theme-primary: #f92672;
}

a {
  color: rgba(0,0,0,.54);
}

.centered-content {
  max-width: 800px;
  margin: 30px auto;
  padding: 1rem;
}

pre code .token.keyword {
  color: rgb(197, 165, 197);
}

pre code .token.function {
  color: rgb(121, 182, 242);
}

pre code .token.string {
  color: rgb(141, 200, 145);
}

pre code .token.string {
  color: rgb(141, 200, 145);
}

pre code .token.string {
  color: rgb(141, 200, 145);
}

pre code .token.tag {
  color: rgb(252, 146, 158);
}

pre code .token.class-name {
  color: rgb(252, 146, 158);
}

.drawer-footer {
  align-items: center;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 20px;
  margin: 1rem;
  outline-style:none;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1rem 1rem 0.25rem 1rem;
  text-align: center;
  text-decoration-line: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}